<!doctype html>
<html lang="ru">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Книжки</title>
  </head>
  <body>
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        {% if current_page == 1 %}
          <li class="page-item disabled"><a class="page-link" href="../pages/index{{current_page-1}}.html">Назад</a></li>
        {% else %}
          <li class="page-item"><a class="page-link" href="../pages/index{{current_page-1}}.html">Назад</a></li>
        {% endif %}

        {% for page in range(1, number_of_pages +1 ) %}
          {% if page == current_page %}
            <li class="page-item active"><a class="page-link" href="../pages/index{{page}}.html">{{ page }}</a></li>
          {% else %}
            <li class="page-item"><a class="page-link" href="../pages/index{{page}}.html">{{ page }}</a></li>
          {% endif %}
        {% endfor %}

        {% if current_page == number_of_pages %}
          <li class="page-item disabled"><a class="page-link" href="../pages/index{{current_page+1}}.html">Вперёд</a></li>
        {% else %}
          <li class="page-item"><a class="page-link" href="../pages/index{{current_page+1}}.html">Вперёд</a></li>
        {% endif %}
      </ul>
    </nav>
    <div class="container">
      <div class="row">
        {% for books in chunked_books %}
          {% for book in books %}
            <div class="col-6">
              <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img src="{{ book.image_url }}" class="card-img" alt="{{ book.image_name }}">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">{{ book.title }}</h5>
                      <p class="card-text">{{ book.author }}</p>
                      <p class="card-text">
                        <small class="text-muted">
                          <a href="{{ book.text_ref }}" target="_blank">Читать</a>
                        </small>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        {% endfor %}
      </div>
    </div> 

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>